<div class="yb-widget">
  <h3><%= title %></h3>
  <div class="yb-widget-content">
    <h1><%= number_with_delimiter(stat_number) %></h1>
    <% javascript_tag do %>
      yamb.loadChart('<%= target %>', [<%= stat_array.join(", ") %>]);
    <% end %>
    <div id="<%= target %>"></div>
  </div>
</div>

