<% stats = vertica_stats(target)%>

<div class="yb-widget">
  <h3><%= title %></h3>
  <div class="yb-widget-content">
    <h1><%= number_with_delimiter(stats[0].events) %></h1>
    <% javascript_tag do %>
      yamb.loadChart('<%= target %>', [<%= stats.map(&:events).join(',') %>]);
    <% end %>
    <div id="<%= target %>"></div>
  </div>
</div>

