<div id="yamboard">

  <div class="yb-widget">
    <h3>NETWORKS</h3>
    <div class="yb-widget-content">
      <h1><%= number_with_delimiter(@stats_today.networks) %></h1>
      <% javascript_tag do %>
        yamb.loadChart('networks_active', [<%= @stats_7_days_networks_active.join(", ") %>]);
      <% end %>
      <div id='networks_active'></div>
    </div>
  </div>

  <%= render :partial => 'square', :locals => { :title => "META USERS", :fields => [:meta_users_active] %>

  <div class="yb-widget">
    <h3>MESSAGES</h3>
    <div class="yb-widget-content">
      <h1><%= number_with_delimiter(@stats_today.meta_users_active) %></h1>
      <% javascript_tag do %>
        yamb.loadChart('messages', [<%= @stats_7_days_updates_replies.join(", ") %>]);
      <% end %>
      <div id='messages'></div>
    </div>
  </div>

</div>
