<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @widget.name %>
</p>

<p>
  <% stats = Vertica::RollupEvent.where(:period_id => 1).where(:event_name => @widget.command).order(:time_id).last(7) %>
  <%= stats[0].events %> <%= stats[0].time_id %>
  <%= stats[1].events %> <%= stats[1].time_id %>
  <%= stats[2].events %>
  <%= stats[3].events %>
  <%= stats[4].events %>
  <%= stats[5].events %>
  <%= stats[6].events %>
</p>



<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
